---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: openjdk
    tag: 8-jdk-alpine
inputs:
- name: git-repo
outputs:
- name: test
run:
  path: git-repo/samples/simple/scripts/build.sh